<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>BLog do Código</title>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<link rel="icon" th:href="@{/image/favicon.png}" />
<!-- Bootstrap core CSS -->
<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet" />
<link
	th:href="@{/webjars/open-iconic/font/css/open-iconic-bootstrap.min.css}"
	rel="stylesheet" />
<link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
	<header th:replace="fragments/header :: cabecalho"></header>
	<div class="layout-main">
		<aside>
			<nav th:replace="fragments/sidebar :: nav-sidebar"
				style="margin-top: 10px;"></nav>
		</aside>
		<section layout:fragment="corpo" style="margin-top: 10px;"></section>
	</div>
	<footer th:replace="fragments/footer :: rodape"></footer>
	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/jquery-mask-plugin/dist/jquery.mask.min.js}"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	<script
		src="https://cdn.tiny.cloud/1/bcmws6i3phfwd2k8os1si16gz7kseup63o8s22yv16cv8qyr/tinymce/5/tinymce.min.js"
		referrerpolicy="origin"></script>
	<script type="text/javascript">
		var url = '';
		$('button[id*="btn_"]').click(function() {
			url = "/" + $(this).attr('id').split("_")[1];
		});
		$('#ok_confirm').click(function() {
			document.location.href = url;
		});
		$(function() {
			$('[data-toggle="popover"]').popover();
		});
		$(document).ready(function() {
			$(".navbar-toggle").click(function() {
				$(".sidebar").toggleClass("sidebar-open");
			})
		});
	</script>
	<script type="text/javascript">
		tinymce
				.init({
					selector : 'textarea#editor',
					plugins : 'print preview paste importcss searchreplace autolink autosave save directionality code visualblocks visualchars fullscreen image link media template codesample table charmap hr pagebreak nonbreaking anchor toc insertdatetime advlist lists wordcount imagetools textpattern noneditable help charmap quickbars emoticons',
					toolbar : 'undo redo | bold italic underline strikethrough | fontselect fontsizeselect formatselect | alignleft aligncenter alignright alignjustify | outdent indent |  numlist bullist | forecolor backcolor removeformat | pagebreak | charmap emoticons | fullscreen  preview save print | insertfile image media template link anchor codesample | ltr rtl',
					toolbar_mode : 'floating',
					tinycomments_mode : 'embedded',
					tinycomments_author : 'Author name',
					height : 300
				});
	</script>
</body>
</html>